.button-lg {
    background: $purple;
    border: none;
    border-bottom: .6rem solid darken($purple, 10%);
    color: white;
    font-weight: bold;
    font-size: $size-lg;
    width: 100%;
    margin-bottom: $size-xl;
    padding: 2.4rem;
}

.button-lg:disabled {
    opacity: .5;
}

.button {
    background: $purple;
    border: none;
    border-bottom: .3rem solid darken($purple, 10%);
    color: white;
    font-weight: normal;
    padding: $size-sm;
}

.button-clear {
    background: none;
    border: none;
    color: $off-white;
    padding: 0;
}