html {
    font-size: 62.5%;
}

body {
    font-family: Arial, Arial, Helvetica, sans-serif;
    font-size: $size-md;
    background: $body-bg;
    color: white;
}

h1 {
    font-size: 2rem;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}